/* font-family: 'Montserrat', sans-serif;
font-family: 'Shadows Into Light', cursive; */

*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --clr-bg-primary: #EBEBE6;
    --clr-bg-secondary: #B4835F;
    --clr-text-primary: #4B411C;
    --clr-text-secondary: #686E86;
    --clr-cover1: #EF476F;
    --clr-cover2: #06D6A0;
    --clr-cover3:gold;
    --clr-accent: #EF476F;
}

body{
    background-color: var(--clr-bg-primary);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

header{
    background: var(--clr-bg-secondary) url('./img/bg.jpg') no-repeat center bottom fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2em;
}

.page-title{
    font-family: 'Shadows Into Light', cursive; 
    font-size: 8rem;
    color: var(--clr-text-primary)
}

.info{
    margin-bottom: 2em;
    font-family: 'Montserrat', sans-serif;
    color: var(--clr-text-secondary);
    text-align: center;
    
}

.my-bookshelf{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 1em auto 0;
    
}


.my-book{
    display: grid;
    grid-template-columns: 1em 12em;
    grid-template-areas: 
        "spine cover"
        "footer footer";
    margin: 1em;
    box-shadow: .5px 5px 21px 0px rgba(0,0,0,0.41),
                .3px .1px 10px rgba(0, 0, 0, .3);
}

.my-book div{
    border: 1px solid black;
}

.cover{
    grid-area: cover;
    height: 14em;
    padding: 1em;
    background-color: var(--clr-cover1);
}

.my-book:nth-of-type(even) .cover{
    background-color: var(--clr-cover2);
}
.my-book:nth-child(4n-7) .cover{
    background-color: var(--clr-cover3);
}


.spine{
    grid-area: spine;
    border-top-left-radius: 5px;
    background-color: #572209;
}

.footer{
    grid-area: footer;
    height: .8em;
    border-bottom-left-radius: 5px;
    background-color: gray;
}

#search-bar{
    width: 600px;
    padding: .5em;
    font-family: inherit;
    color: var(--clr-text-secondary);
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);

}

#search-bar[type=text]:focus{
    outline: 5px solid var(--clr-accent);
    outline-offset: .3em;
    
}
